<div class="site-footer">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Navkar Stationery" class="footer-logo-img">
    <div class="footer-brand">Navkar Stationery</div>
    <div class="footer-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('xerox') }}">Xerox / Print</a>
        <a href="{{ url_for('shop') }}">Shop</a>
        <a href="https://wa.me/{{ whatsapp_number }}" target="_blank">WhatsApp Us</a>
		<a href="https://shani-tiwari-portfolio.netlify.app/" target="_blank">Know about developer?</a>
    </div>
    <div class="footer-note">&copy; 2026 Navkar Stationery. All rights reserved.</div>
</div>
